.gua1 {
    font-family: 楷体;
    font-size: 25px;
    position: relative;
    text-decoration: none;
    line-height: 37px;
    letter-spacing: 5px;
    color: #fff;
    background-size: 400%;
    border-radius: 20px;
    z-index: 1;
}

.gua2 {
    font-family: 楷体;
    font-weight: bold;
    font-size: 37px;
    position: relative;
    text-decoration: none;
    line-height: 42px;
    letter-spacing: 3px;
    color: #fff;
    background-size: 400%;
    border-radius: 20px;
    z-index: 1;
}

.gua0 {
    font-family: 楷体;
    font-size: 25px;
    position: relative;
    text-decoration: none;
    line-height: 37px;
    letter-spacing: 3px;
    color: #fff;
    background-size: 400%;
    border-radius: 20px;
    z-index: 1;
}

.gua-1 {
    font-family: 楷体;
    font-size: 17px;
    position: relative;
    text-decoration: none;
    line-height: 23px;
    letter-spacing: 2px;
    color: #fff;
    background-size: 400%;
    border-radius: 20px;
    z-index: 1;
}

.gua-2 {
    font-family: 楷体;
    font-size: 13px;
    position: relative;
    text-decoration: none;
    line-height: 17px;
    letter-spacing: 1px;
    color: #fff;
    background-size: 400%;
    border-radius: 20px;
    z-index: 1;
}