button {
    font-family: 楷体;
    position: relative;
    height: auto;
    width: auto;
    line-height: auto;
    letter-spacing: auto;
    text-align: center;
    text-decoration: none;
    font-size: auto;
    /* 背景渐变 */
    background: linear-gradient(to right,#03a9f4,#f441a5,#ffeb3b,#09a8f4);
    /* 背景渐变色大小 */
    background-size: 400%;
    /* 圆角 */
    border-radius: 13px;
    z-index: 1;
}

/* 发光效果 */
button::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    /* 背景渐变 */
    background: linear-gradient(to right,#03a9f4,#f441a5,#ffeb3b,#09a8f4);
    /* 背景渐变色大小 */
    background-size: 400%;
    /* 圆角 */
    border-radius: 13px;
    z-index: -1;
    /* 设置模糊度 显示发光效果 */
    filter: blur(20px);
}

button:hover {
    /* 动画：名称 时间 infinite是无限次播放 */
    animation: streamer 8s infinite;
}

button:hover::before {
    /* 动画：名称 时间 infinite是无限次播放 */
    animation: streamer 8s infinite;
}