body{
	/*background: url("../photo/bj.jpeg") no-repeat center center fixed;*/
        background-color: blue;
        -webkit-background-size: cover;
        -o-background-size: cover;                
        background-size: cover;
}
* {
  	moz-user-select: -moz-none;
   	-moz-user-select: none;
   	-o-user-select:none;
   	-khtml-user-select:none;
   	-webkit-user-select:none;
   	-ms-user-select:none;
   	user-select:none;
}