<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".html" allowed="true" />
                    <add fileExtension=".php" allowed="true" />
                </fileExtensions>
            </requestFiltering>
            <authorization>
                <remove users="HTTP Servers" roles="" verbs="" />
            </authorization>
        </security>
        <httpRedirect enabled="false" destination="192.168.1.3:800" exactDestination="false" childOnly="false" httpResponseStatus="PermRedirect" />
        <httpErrors errorMode="Custom">
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="431" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <error statusCode="404" path="/ERROR/404.html" responseMode="ExecuteURL" />
        </httpErrors>
        <httpProtocol>
            <customHeaders>
                <remove name="Not Found" />
            </customHeaders>
        </httpProtocol>
        <defaultDocument enabled="true">
            <files>
                <remove value="Default.htm" />
                <remove value="Default.asp" />
                <remove value="index.htm" />
                <remove value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
    <system.web>
        <compilation defaultLanguage="c#" optimizeCompilations="true" />
        <globalization fileEncoding="utf-8" />
    </system.web>
</configuration>
